.cover{
    display: flex;
    gap: 0px;
    max-width: 100vw;
}

.present{
    background-color: #26282D;
    padding: 150px 100px;
    color: white;
    max-width: 50vw;
    height: auto;
}

.h1Present{
    font-size: 450%;
    margin-bottom: 40px;
}

.pPresent{
    line-height: 30px;
    text-align: center;
}

.image {
    max-width: 50vw;
    min-width: 50vw;
    background-image: url('../../components/images/girl-sky.jpg');
    background-size: cover;
    background-size: 50%;
    background-attachment: fixed;
    background-position: 100% 0%;
    background-position-y: -20px;
    height: auto;
    transition: background-position 0s ease-out;
  }